@import '../../styles.scss';

section {
    display: none; 

    @include tablet {
        display: flex;
    }
}

#nav-bar {
    display: flex;
    height: calc(97px + 3.5%);
    width: 100%;
    justify-content: space-around;
    align-items: end;
    margin-bottom: -7%;

    >div {
        padding: 4%;
        font-size: 30px;
        height: 85%;
        font-family: 'Josefin Sans';
        font-weight: 400;
        color: $creme-white;

        &.active {
            background: #2f3940;
            color: $light-blue;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            transition: background 0.3s ease, color 0.3s ease;
        }
    }
}

#project-overview {
    background: #2f3940;
    border-radius: 7%;
}