<section class="content-limit">
    <div id="image-container">
        <img src="assets/images/hero-section/kilian-portrait.png" alt="" id="portrait">
        <img src="assets/images/hero-section/image-backdrop.png" alt="" class="absolute">
        <img src="assets/images/hero-section/image-backdrop-hover.png" alt="" class="hide absolute">
    </div>
    <div id="presi-container">
        <div id="headband">
            <div></div>
            <img src="assets/images/hero-section/logo-icon.png" alt="logo-icon">
            <div id="some">
                <a href="" target="_blank"><img src="assets/images/contact-icons/e-mail.png" alt="e-mail-icon"></a>
                <a href="" target="_blank"><img src="assets/images/contact-icons/github.png" alt="github-icon"></a>
                <a href="" target="_blank"><img src="assets/images/contact-icons/linkedin.png" alt="linkedin-icon"></a>
            </div>
        </div>
        <div>
            <h1>Kilian Heyne</h1>
            <h2>FRONTEND DEVELOPER</h2>
        </div>
        <div id="arrow-down-btn">
            <img src="assets/images/hero-section/arrow-down.png" alt="">
        </div>
    </div>
</section>