@import '../../styles.scss';

section {
    height: 100dvh;
    color: white;
    overflow: hidden;

    img {
        object-fit: contain;
    }
}

#content-wrapper {
    display: flex;
    padding: 41px 114px 0 114px;

    @include notebook {
        padding: 0 57px;
    }

    @include tablet {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #image-container {
        display: flex;
        justify-content: center;
        align-items: end;
        margin-bottom: -5px;
        width: 50%;
    
        @include tablet {
            display: none;
        }
    
        img {
            width: 100%;
            max-height: 90dvh;
            z-index: 5;
        }
    
        &::before {
            content: '';
            position: absolute;
            width: 90%;
            height: 100%;
            background: url('../../../public/assets/images/hero-section/image-backdrop.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: rotate(-45deg) translateY(180px) translateX(-180px);

            @include bigscreen {
                transform: rotate(-45deg) translateY(500px) translateX(-500px);
            }

            @media (max-width: 1550px){
                width: 100%;
            }

            @media (max-width: 1170px){
                transform: rotate(-45deg) translateY(200px) translateX(-200px);
            }

            @media (max-width: 950px){
                transform: rotate(-45deg) translateY(230px) translateX(-230px);
            }

            @include tablet {
                display: none;
            }
        }
    
        &:hover::before {
            animation-name: changeBackground;
            animation-duration: 800ms;
            animation-fill-mode: forwards;
        }
    }

    #mobile-image-container {
        width: 90%;
        height: 50%;
        display: none;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        @include tablet {
            display: flex;
        }

        img {
            position: absolute;
            bottom: 15%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 5;
            height: 70%;
            object-fit: contain;

            @media (max-width: 440px) {
                height: 50%;
            }
        }
    }

    #presi-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 1;

        @include tablet {
            justify-content: start;
            gap: 32px;
        }
    
        #headband {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px; 

            @include tablet {
                display: none;
            }
    
            #logo {
                @include dFlex($fd: column, $jc: end);
                cursor: default;
    
                >span:first-of-type {
                    font-size: 16px;
                    font-family: 'Anta';
                }
                >span:nth-of-type(2) {
                    font-size: 16px;
                    font-family: 'Josefin Sans';
                    font-weight: 300;
                    color: #89BCD9;
                }
            }
    
            #some {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }
    
        #arrow-down-btn {
            display: flex;
            justify-content: center;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .btn-style {
                padding: 35px 15px 35px 15px;
                height: 90px;
                width: 40px;
            }
        }
    }
}