<section>
    <div id="content-wrapper" class="content-limit">
        @if (project) {
        <div id="project-details">
            <div class="bullet-point">
                <div>
                    <img
                        src="assets/images/my-projects/project-details-bulletpoint.png"
                        alt="bullet-point"
                    />
                </div>
                <div class="bullet-point-heading">
                    <div>
                        <p>{{ 'projects.about' | translate }}</p>
                        <span>{{ 'projects.duration' | translate }} {{ project.duration }} {{ 'projects.weeks' | translate }}</span>
                    </div>
                    <p>{{ project.aboutThisProject | translate }}</p>
                </div>
            </div>
            <div class="bullet-point">
                <div>
                    <img
                        src="assets/images/my-projects/project-details-bulletpoint.png"
                        alt=""
                    />
                </div>
                <div class="bullet-point-heading">
                    <div>
                        <p>{{ 'projects.organised' | translate }}</p>
                        <span></span>
                    </div>
                    <p>{{ project.howIOrganised | translate }}</p>
                </div>
            </div>
            <div class="bullet-point">
                <div>
                    <img
                        src="assets/images/my-projects/project-details-bulletpoint.png"
                        alt=""
                    />
                </div>
                @if (project.groupProject) {
                    <div class="bullet-point-heading">
                        <div>
                            <p>{{ 'projects.group_experience' | translate }}</p>
                            <span></span>
                        </div>
                        <p>{{ project.groupWorkExperience | translate }}</p>
                    </div>
                }
                @else if (!project.groupProject) {
                    <div class="bullet-point-heading">
                        <div>
                            <p>{{ 'projects.learnt' | translate }}</p>
                            <span></span>
                        </div>
                        <p>{{ project.whatHaveILearnt | translate }}</p>
                    </div>
                }
            </div>
        </div>
        <div id="project-visuals">
            <div id="tech">
                <span>{{ 'projects.tech' | translate }}</span>
                <div>
                    @for (item of project.technologies; track $index) {
                    <img src="{{ item }}" alt="" />
                    }
                </div>
            </div>
            <img src="{{ project.screenshot }}" alt="{{ project.name }}" />
            <div id="live-test">
                <a href="{{ project.liveTestUrl }}" class="btn-style">{{ 'projects.live_test' | translate }}</a>
                <a href="{{ project.gitHubUrl }}" class="btn-style">GitHub</a>
            </div>
        </div>
        }
    </div>
</section>
