<section>
    <div id="project-details">
        <div class="bullet-point">
            <div>
                <img src="assets/images/my-projects/project-details-bulletpoint.png" alt="">
            </div>
            <div class="bullet-point-heading">
                <div>
                    <p>About the project</p>
                    <span>Duration: 3 weeks</span>
                </div>
                <p>
                    This App is a Slack Clone App. <br>
                    It revolutionizes team communication and collaboration with its intuitive interface, real-time messaging, and robust channel organization.
                </p>
            </div>
        </div>
        <div class="bullet-point">
            <div>
                <img src="assets/images/my-projects/project-details-bulletpoint.png" alt="">
            </div>
            <div class="bullet-point-heading">
                <div>
                    <p>How I have organised my work process</p>
                    <span></span>
                </div>
                <p>
                    How do you keep your code clean and maintainable? Have you broken the project down into reusable modules or components? Focus on documentation, naming files, variables, classes and testing.
                </p>
            </div>
        </div>
        <div class="bullet-point">
            <div>
                <img src="assets/images/my-projects/project-details-bulletpoint.png" alt="">
            </div>
            <div class="bullet-point-heading">
                <div>
                    <p>My group work experience</p>
                    <span></span>
                </div>
                <p>
                    How many people were in the team and what was your role? Describe your tasks in 1-2 sentences, for example: login form, dashboard or chat functionality.
                    What technologies did you use?
                    It is nice to mention good teamwork and cooperation.
                </p>
            </div>
        </div>
    </div>
    <div id="project-visuals">
        <div>
            <span>Technologies</span>
            <div>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>
        <img src="" alt="">
        <div>
            <a href="" class="btn-style">Live Test</a>
            <a href="" class="btn-style">GitHub</a>
        </div>
    </div>
</section>
