<section>
    <div id="content-wrapper" class="content-limit">
        @if (project) {
        <div id="project-details">
            <div class="bullet-point">
                <div>
                    <img
                        src="assets/images/my-projects/project-details-bulletpoint.png"
                        alt="bullet-point"
                    />
                </div>
                <div class="bullet-point-heading">
                    <div>
                        <p>About the project</p>
                        <span>Duration: {{ project.duration }} weeks</span>
                    </div>
                    <p>{{ project.aboutThisProject }}</p>
                </div>
            </div>
            <div class="bullet-point">
                <div>
                    <img
                        src="assets/images/my-projects/project-details-bulletpoint.png"
                        alt=""
                    />
                </div>
                <div class="bullet-point-heading">
                    <div>
                        <p>How I have organised my work process</p>
                        <span></span>
                    </div>
                    <p>{{ project.howIOrganised }}</p>
                </div>
            </div>
            <div class="bullet-point">
                <div>
                    <img
                        src="assets/images/my-projects/project-details-bulletpoint.png"
                        alt=""
                    />
                </div>
                <div class="bullet-point-heading">
                    <div>
                        <p>My group work experience</p>
                        <span></span>
                    </div>
                    <p>{{ project.whatHaveILearnt }}</p>
                </div>
            </div>
        </div>
        <div id="project-visuals">
            <div id="tech">
                <span>Technologies</span>
                <div>
                    @for (item of project.technologies; track $index) {
                    <img src="{{ item }}" alt="" />
                    }
                </div>
            </div>
            <img src="{{ project.screenshot }}" alt="{{ project.name }}" />
            <div id="live-test">
                <a href="{{ project.liveTestUrl }}" class="btn-style">Live Test</a>
                <a href="{{ project.gitHubUrl }}" class="btn-style">GitHub</a>
            </div>
        </div>
        }
    </div>
</section>
