<section>
    <h3>My Projects</h3>
    <div>
        <span>1. El Pollo Loco</span>
        <span>2. Pokédex</span>
        <span>3. Join</span>
        <span>4. Ongoing Project</span>
    </div>
    <div>
        <div></div>
        <div>
            <p>Technologies</p>
            <div>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <img src="" alt="">
            <div>
                <a href="">Live Test</a>
                <a href="">GitHub</a>
            </div>
        </div>
    </div>
</section>