<section>
    <div id="content-wrapper" class="content-limit">
        <h3>{{ 'my-projects.h3' | translate }}</h3>
        <div id="nav-bar">
            @for (item of projectListData.projectList; track $index) {
                <div 
                    (click)="selectedProjectIndex = $index"
                    [class.active]="selectedProjectIndex === $index"
                    >{{ $index+1 }}. {{ item.name | translate }}
                </div>
            }
        </div>
    </div>
    <div id="project-overview"
        [class.hidden]="!projectListData.projectList[selectedProjectIndex]">
        <div  class="content-limit">
            @if (selectedProjectIndex !== null) {
                <app-project [project]="projectListData.projectList[selectedProjectIndex]"></app-project>
            }
        </div>
    </div>
</section>