@import '../../styles.scss';

section {
    display: flex; 
    flex-direction: column;
    align-items: center;

    @include tablet {
        display: none;
    }
}

#nav-bar {
    display: flex;
    height: 97px;
    width: 100%;
    align-items: center;
    padding: 0 102px 0 102px;
    margin-bottom: -5px;

    @include notebook {
        padding: 0 40px;
    }

    >div {
        padding: 30px;
        font-size: 30px;
        font-family: 'Josefin Sans';
        font-weight: 500;
        color: $light-blue;

        @include notebook {
            padding: 15px;
            font-weight: 400;
        }

        @media (max-width: 855px) {
            font-size: 26px;
        }

        &:hover {
            color: $creme-white;
            cursor: pointer;
        }

        &.active {
            background: #2f3940;
            color: $creme-white;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            transition: background 0.3s ease, color 0.3s ease;
        }
    }
}

#project-overview {
    width: 100%;
    background: $hover-blue;

    display: flex; 
    justify-content: center;

    >div {
        width: 100%; 
        padding: 30px 102px 0 102px;

        @include notebook {
            padding: 30px 40px 0px 40px;
        }
    }
}

#project-details {
    width: 50%;

    .bullet-point {
        display: flex;
    }
}

