@import '../../../styles.scss';

header {
    align-items: center;
    height: 104px;
    position: sticky;
    top: 0;
    z-index: 10;

    @include tablet {
        display: none;
    }
}

#content-wrapper {
    background: $light-blue;
    height: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 1100px){
        padding: 0 20px;
        justify-content: space-between;
    }
}

.logo-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > img {
        object-fit: contain;
    }

    > p {
        color: $creme-white;
        font-size: 14px;
        font-family: 'Anta';
    }

    > span {
        color: $dark-grey;
        font-size: 14px;
        font-weight: 300;
        font-family: 'Josefin Sans';
    }
}

nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 980px){
        width: 70%;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;

        li {
            display: flex;
            justify-content: center; 
            align-items: center;
            min-width: 90px;
            min-height: 60px;
        }

        a {
            color: $dark-grey;
            font-family: 'Josefin Sans';
            font-weight: 500;
            font-size: 26px;
            cursor: pointer;

            @media (max-width: 865px){
                font-weight: 400;
                font-size: 22px;
            }
            
            transition: background 0.5s ease, color 0.5s ease;
    
            &:hover {
                animation-name: fontColorHover;
                animation-duration: 250ms;
                animation-fill-mode: forwards;
            }
            &.active {
                color: $creme-white;
                background: url(../../../../public/assets/images/header/header-focus.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                display: flex;
                justify-content: center; 
                align-items: center;
                min-width: 90px;
                min-height: 60px;
            }
        }
    }
}

#lingo-switch {
    display: flex;
    gap: 5px;

    button {
        border: none;
        color: $dark-grey;
        background: $light-blue;
        font-family: 'Josefin Sans';
        font-size: 18px;
        width: 40px;
        height: 30px;
        cursor: pointer;
        transition: background 0.5s ease, color 0.5s ease;

        &:hover {
            animation-name: fontColorHover;
            animation-duration: 250ms;
            animation-fill-mode: forwards;
        }
    }

    button.active {
        color: $creme-white;
        background: url('../../../../public/assets/images/header/active-language.png');
        background-position: center;
        background-repeat: no-repeat;
    }
}