<header>
    <div id="content-wrapper" class="content-limit">
        <div class="logo-comp">
            <img src="assets/images/header/logo-icon.png" alt="logo">
            <p>K.Heyne</p>
            <span>developer</span>
        </div>
        <nav>
            <ul>
                <li><a href="#why-me">Why me</a></li>
                <li><a href="#my-skills">Skills</a></li>
                <li><a href="#my-projects">Projects</a></li>
                <li><a href="#contact-me">Contact</a></li>
            </ul>
        </nav>
        <div id="lingo-switch">
            <span>DE</span>
            <span>EN</span>
        </div>
    </div>
</header>