@import '../../../styles.scss';

header {
    align-items: center;
    height: 104px;
    position: sticky;
    top: 0;
    z-index: 10;
}

#content-wrapper {
    background: $light-blue;
    height: 100%;
    padding: 0 80px 0 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > img {
        object-fit: contain;
    }

    > p {
        color: $creme-white;
        font-size: 14px;
        font-family: 'Anta';
    }

    > span {
        color: $dark-grey;
        font-size: 14px;
        font-weight: 300;
        font-family: 'Josefin Sans';
    }
}

nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;

        li:active {
            background: url(../../../../public/assets/images/header/header-focus.png);
            background-repeat: no-repeat;
            background-position: center;
        }

        a {
            color: $dark-grey;
            font-family: 'Josefin Sans';
            font-weight: 500;
            font-size: 26px;
    
            &:hover {
                animation-name: fontColorHover;
                animation-duration: 250ms;
                animation-fill-mode: forwards;
                cursor: pointer;
            }
            &:focus{
                color: $creme-white;
            }
        }
    }

    
}

#lingo-switch {
    display: flex;
    gap: 5px;

    button {
        border: none;
        color: $dark-grey;
        background: $light-blue;
        font-family: 'Josefin Sans';
        font-size: 18px;
        width: 40px;
        height: 30px;
        cursor: pointer;
        transition: background 0.5s ease, color 0.5s ease;

        &:hover {
            animation-name: fontColorHover;
            animation-duration: 250ms;
            animation-fill-mode: forwards;
        }
    }

    button.active {
        color: $creme-white;
        background: url('../../../../public/assets/images/header/active-language.png');
        background-position: center;
        background-repeat: no-repeat;
    }
}