<header>
    <div id="content-wrapper" class="content-limit">
        <div class="logo-comp">
            <img src="assets/images/header/logo-icon.png" alt="logo">
            <p>K.Heyne</p>
            <span>developer</span>
        </div>
        <div id="nav">
            <a href="#why-me">Why me</a>
            <a href="#my-skills">Skills</a>
            <a href="#my-projects">Projects</a>
            <a href="#contact-me">Contact</a>
        </div>
        <div id="lingo-switch">
            <span>DE</span>
            <span>EN</span>
        </div>
    </div>
</header>