<header>
    <div id="content-wrapper" class="content-limit">
        <div class="logo-comp">
            <img src="assets/images/header/logo-icon.png" alt="logo">
            <p>K.Heyne</p>
            <span>developer</span>
        </div>
        <nav>
            <ul>
                <li><a href="#why-me">{{ 'header.nav_a_1' | translate }}</a></li>
                <li><a href="#my-skills">{{ 'header.nav_a_2' | translate }}</a></li>
                <li><a href="#my-projects">{{ 'header.nav_a_3' | translate }}</a></li>
                <li><a href="#contact-me">{{ 'header.nav_a_4' | translate }}</a></li>
            </ul>
        </nav>
        <!-- button area to switch between languages -->
        <div id="lingo-switch">
            <button 
                [class.active]="activeLanguage === 'de' && hoveredLanguage !=='en'" 
                (click)="changeLanguage('de')"
                (mouseenter)="hoveredLanguage = 'de' "
                (mouseleave)="hoveredLanguage= '' "
                >DE
            </button>
            <button 
                [class.active]="activeLanguage === 'en' && hoveredLanguage !=='de'" 
                (click)="changeLanguage('en')"
                (mouseenter)="hoveredLanguage = 'en' "
                (mouseleave)="hoveredLanguage = '' "
                >EN
            </button>
        </div>
    </div>
</header>