@import '../../../styles.scss';

#single-credential {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 520px;
    height: 520px;
    font-family: 'Josefin Sans';
    padding: 40px 40px 80px 40px;

    @media (max-width: 1301px) {
        width: 420px;
        height: 420px;

        scroll-snap-align: center;
    }

    @media (max-width: 930px) {
        width: 390px;
        height: 390px;
    }

    @include tablet {
        padding: 60px 40px;
    }

    @include mobile {
        width: 390px;
        height: 390px;
    }

    @media (max-width: 370px){
        width: 310px;
        height: 310px;
        padding: 20px 10px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../../../../public/assets/images/mate-refs/backdrop.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        translate: rotate(50deg);
    }

    &:hover::before {
        background: url('../../../../public/assets/images/mate-refs/backdrop-hover.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @include tablet {
            display: none;
        }
    }

    #person {
        display: flex;
        flex-direction: column;
        align-items: center;

        >b {
            font-size: 26px;
            font-weight: 600;
        }

        >div{
            display: flex;
            gap: 8px;
        
            >span {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }

    >p {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    >a {
        text-decoration: underline;
        color: $light-blue;
        font-size: 16px;
    }

    
}

.project {
    color: $light-blue;
}
