@import '../../styles.scss';

section {
    color: white;
    padding: 0 160px 0 160px;
}

#about-me {
    display: flex;

    #notes {
        width: 50%;

        span {
            font-size: 24px;
        }
    }

    #description {
        width: 50%;

        #lets-talk-btn {
            @include dFlex($jc: end);
        }
    }
}

.flex {
    display: flex;
    align-items: center;
}