<section>
    <div id="content-wrapper" class="content-limit">
        <h3>Why me</h3>
        <div id="about-me">
            <div id="notes">
                <div class="flex">
                    <img src="assets/images/why-me/location.png" alt="" />
                    <p>
                        <span>I am</span>
                        <span>located in Berlin...|</span>
                    </p>
                </div>
                <div class="flex">
                    <img src="assets/images/why-me/remote-work.png" alt="" />
                    <p>
                        <span>I am</span>
                        <span>open to work remote...|</span>
                    </p>
                </div>
                <div class="flex">
                    <img src="assets/images/why-me/relocate.png" alt="" />
                    <p>
                        <span>I am</span>
                        <span>open to relocate...|</span>
                    </p>
                </div>
            </div>
            <div id="description">
                <p>
                    Why are you passionate about coding? You can include some
                    key traits like: analytical thinking, creativity,
                    persistence and collaboration. A problem-solving mindset is
                    always nice to have.
                </p>
                <div id="lets-talk-btn">
                    <button class="btn-style">Let's talk</button>
                </div>
            </div>
        </div>
    </div>
</section>
