@import '../../styles.scss';

section {
    color: white;
    font-family: 'Josefin Sans';
}

#content-wrapper {
    padding: 0 290px 0 290px;

    @include tablet {
        padding: 0 48px 0 48px;
    }

    @include mobile {
        padding: 0 24px 0 24px;
    }
}

#about-me {
    display: flex;
    align-items: center;
    gap: 8px;

    @include tablet {
        flex-direction: column;
        gap: 48px;
    }

    #notes {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            display: flex; 
            gap: 8px;
        }

        span {
            font-size: 24px;
        }
    }

    #description {
        width: 50%;

        >p {
            font-weight: 400;
            font-size: 18px;
            text-align: start;

            @include tablet {
                text-align: center;
            }
        }

        #lets-talk-btn {
            @include dFlex($jc: end);
            margin-top: 16px;

            @include tablet {
                display: none;
            }
        }
    }
}

.flex {
    display: flex;
    align-items: center;
}