<section class="content-limit">
    <h3>Why me</h3>
    <div>
        <div>
            <div>
                <img src="assets/images/why-me/location.png" alt="">
                <p>
                    <span>I am</span>
                    <span>located in Berlin</span>
                    <span>...|</span>
                </p>
            </div>
            <div>
                <img src="assets/images/why-me/remote-work.png" alt="">
                <p>
                    <span>I am</span>
                    <span>open to work remote</span>
                    <span>...|</span>
                </p>
            </div>
            <div>
                <img src="assets/images/why-me/relocate.png" alt="">
                <p>
                    <span>I am</span>
                    <span>open to relocate</span>
                    <span>...|</span>
                </p>
            </div>
        </div>
        <div>
            <div>
                <p>
                    Why are you passionate about coding?
                    You can include some key traits like: analytical thinking, creativity, persistence and collaboration.
                    A problem-solving mindset is always nice to have.
                </p>
            </div>
            <button>
                Let's talk
            </button>
        </div>
    </div>
</section>