@import '../../styles.scss';

section {
    color: white;
    padding: 0 290px 0 290px;
    font-family: 'Josefin Sans';
}

#about-me {
    display: flex;
    align-items: center;
    gap: 8px;

    #notes {
        width: 50%;

        span {
            font-size: 24px;
        }
    }

    #description {
        width: 50%;

        >p {
            font-weight: 400;
            font-size: 18px;
            text-align: start;
        }

        #lets-talk-btn {
            @include dFlex($jc: end);
        }
    }
}

.flex {
    display: flex;
    align-items: center;
}

.btn-style {
    padding: 13px 30px 13px 30px;
    height: 48px;
    background: $dark-blue;
    color: $light-blue;
    border-radius: 24px;
    border: solid 1px $light-blue;
}