<section>
    <div id="content-wrapper" class="content-limit">
        <h3>Contact me</h3>
        <div id="contact-infos">
            <p>
                Encourage people to contact you and describe what role you are
                interested in. Show that you will add value to their projects
                through your work. Example: Feel free to get in touch with job
                offers or opportunities such as: ...
            </p>
            <div>
                <div>
                    <img
                        src="assets/images/contact-me/e-mail-icon.png"
                        alt=""
                    />
                    <span>E-mail: kilianheyne(at)icloud(dot)com</span>
                </div>
                <div>
                    <img src="assets/images/contact-me/phone-icon.png" alt="" />
                    <span>Tel: 0157 123 456 68</span>
                </div>
            </div>
        </div>
        <form (ngSubmit)="onSubmit()">
            <div id="upper-form">
                <div>
                    @if(!name.valid && name.touched){
                        <label class="error-msg" for="name">Your name is required</label>
                    } @else {
                        <label for="name">Your name</label>
                    }
                    <input #name="ngModel" [(ngModel)]="contactData.name" [ngClass]="{'error-border' : !name.valid && name.touched}" type="text" name="name" id="name" class="btn-style" required/>
                </div>
                <div>
                    @if(!email.valid && email.touched){
                        <label class="error-msg" for="email">Your Email is required</label>
                    } @else {
                        <label for="email">Your Email</label>
                    }
                    <input #email="ngModel" [(ngModel)]="contactData.email" [ngClass]="{'error-border' : !email.valid && email.touched}" type="email" name="email" id="email" class="btn-style" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"/>
                </div>
            </div>
            <div id="your-msg">
                @if(!message.valid && message.touched){
                    <label class="error-msg">Your message is required</label>
                } @else {
                    <label>Your message</label>
                }
                <textarea #message="ngModel" [(ngModel)]="contactData.message" [ngClass]="{'error-border' : !message.valid && message.touched}" minlength="9" name="message" id="message" class="btn-style" required></textarea>
            </div>
            <div id="agreement">
                <!-- <img
                    src="assets/images/contact-me/privacy-policy/unchecked.png"
                    alt=""
                /> -->
                <input type="checkbox" required>
                <span
                    >I've read the
                    <a href="">privacy policy </a>
                    and agree to the processing of my data as outlined.
                </span>
            </div>
            <div id="btn">
                <input type="submit" value="Send" class="btn-style">
            </div>
        </form>
    </div>
</section>
