<section>
    <h3>Contact me</h3>
    <div id="contact-infos">
        <p>
            Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work. 
            Example: Feel free to get in touch with job offers or opportunities such as: ...
        </p>
        <div>
            <div>
                <img src="assets/images/contact-me/e-mail-icon.png" alt="">
                <span>E-mail: kilianheyne(at)icloud(dot)com</span>
            </div>
            <div>
                <img src="assets/images/contact-me/phone-icon.png" alt="">
                <span>Tel: 0157 123 456 68</span>
            </div>
        </div>
    </div>
    <form action="">
        <div id="upper-form">
            <div>
                <label for="">Your name</label>
                <input type="text" class="btn-style">
            </div>
            <div>
                <label for="">Your Email</label>
                <input type="text" class="btn-style">
            </div>
        </div>
        <div id="your-msg">
            <label for="">Your message</label>
            <input type="text" class="btn-style">
        </div>
        <div id="agreement">
            <img src="" alt="">
            <span>I've read the 
                    <a href="">privacy policy </a>
                    and agree to the processing of my data as outlined.
            </span>
        </div>
        <div id="btn">
            <button class="btn-style">Send</button>
        </div>
    </form>
</section>