@import '../../styles.scss';

section {
    margin-bottom: 120px;
}

#content-wrapper {
    padding: 0 265px 0 265px;

    @include tablet {
        padding: 0 48px 0 48px;
    }

    @include mobile {
        padding: 0 24px 0 24px;
    }

    >span {
        font-family: 'Josefin Sans';
        font-size: 20px;
        color: $light-blue;
        display: none;
        width: 100%;
        justify-content: center;
        margin-top: 48px;

        @include tablet {
            display: flex;
        }
    }
}

#arrow-up-btn {
    position: absolute;
    top: 104px;
    right: 7%;
    z-index: 5;
    display: flex;
    justify-content: center;
    cursor: pointer;

    @include tablet {
        display: none;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-style {
        padding: 35px 15px 35px 15px;
        height: 90px;
        width: 40px;
    }
}

#contact-infos {
    display: flex;
    width: 100%;
    gap: 36px;

    @include tablet {
        flex-direction: column-reverse;
    }

    >p {
        width: 50%;
        font-family: 'Josefin Sans';
        font-size: 18px;
        text-align: justify;

        @include tablet {
            width: 100%;
        }
    }

    >div {
        width: 50%;

        @include tablet {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            gap: 16px;
        }

        >a {
            display: flex;
            align-items: center;
            gap: 16px;

            &:hover #e-mail-icon {
                background: url('../../../public/assets/images/contact-me/e-mail-icon-hover.png');
                background-size: contain;
                background-repeat: no-repeat;
            }

            &:hover #phone-icon {
                background: url('../../../public/assets/images/contact-me/phone-icon-hover.png');
                background-size: contain;
                background-repeat: no-repeat;
            }

            &:hover >span {
                color: $light-blue;
            }

            #e-mail-icon, #phone-icon {
                width: 30px;
                height: 30px;
                background-size: contain;
                background-repeat: no-repeat;
            }

            #e-mail-icon {
                background: url('../../../public/assets/images/contact-me/e-mail-icon.png');
                background-repeat: no-repeat;
            }

            #phone-icon {
                background: url('../../../public/assets/images/contact-me/phone-icon.png');
            }

            >span {
                font-size: 20px;
                font-family: 'Josefin Sans';
            }
        }
    }
}

form {
    margin-top: 48px;

    label {
        font-size: 14px;
        color: $light-blue;
        font-family: 'Josefin Sans';
        padding-left: 27px;

        @include tablet {
            display: none;
        }
    }

    .error-msg {
        color: #e34d36;
    }

    #upper-form {
        gap: 20px;
        margin-bottom: 16px;

        @include tablet {
            display: flex; 
            flex-direction: column; 
        }
    }

    >div {
        display: flex;
        justify-content: space-between;

        >div {
            display: flex;
            flex-direction: column;
            width: 50%;

            @include tablet {
                width: 100%;
            }
        }
    }

    #your-msg {
        display: flex;
        flex-direction: column; 
        width: 100%;

        textarea {
            min-height: 150px;
            margin-bottom: 16px;
        }
    }

    #agreement {
        margin-bottom: 16px;
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: center;
        gap: 5px;

        label {
            @include tablet {
                display: flex;
            }
        }

        input[type="checkbox"] {
            opacity: 0;
            position: absolute; 
            left: -9999px;
        }

        .custom-checkbox {
            width: 30px;
            height: 30px;
            background: url('../../../public/assets/images/contact-me/privacy-policy/unchecked.png');
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: background 0.3s ease, transform 0.3s ease;
        }

        input[type="checkbox"]:hover + .custom-checkbox {
            background: url('../../../public/assets/images/contact-me/privacy-policy/unchecked-hover.png');
            background-size: contain;
            background-repeat: no-repeat;
            transform: rotateZ(10deg);
        }

        input[type="checkbox"]:checked + .custom-checkbox {
            background: url('../../../public/assets/images/contact-me/privacy-policy/checked.png');
            background-size: contain;
            background-repeat: no-repeat;
            transform: rotateZ(0deg);
        }

        input[type="checkbox"].ng-invalid.ng-touched + .custom-checkbox {
            background: url('../../../public/assets/images/contact-me/privacy-policy/erorr.png');
            background-size: contain;
            background-repeat: no-repeat;
            transform: rotateZ(0deg);
        }

        #span-container {
            display: flex;
            width: 100%;
            span {
                font-family: 'Josefin Sans';
                font-weight: 400;
                font-size: 14px;
                width: 100%;
    
                a {
                    color: $light-blue;
                }
            }
        }
        
    }
}

#mobile-arrow-up-btn {
    display: none;
    justify-content: center;
    margin-top: 112px;

    @include tablet {
        display: flex;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-style {
        padding: 35px 15px 35px 15px;
        height: 90px;
        width: 40px;
    }
}

input[type="submit"]:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.error-border {
    border: solid 1px $red;
}

.error-placeholder::placeholder {
    color: $red;
}

#btn {
    display: flex;
    width: 100%;
    justify-content: end;
}