@import '../../styles.scss';

section {
    margin-bottom: 120px;
}

#content-wrapper {
    padding: 0 265px 0 265px;
}

#contact-infos {
    display: flex;
    width: 100%;
    gap: 36px;

    >p {
        width: 50%;
        font-family: 'Josefin Sans';
        font-size: 18px;
        text-align: justify;
    }

    >div {
        width: 50%;
        >div {
            display: flex;
            align-items: center;
            gap: 16px;

            >span {
                font-size: 20px;
                font-family: 'Josefin Sans';

                &:hover {
                    color: $light-blue;
                    cursor: pointer;
                }
            }
        }
    }
}

form {
    margin-top: 48px;

    label {
        font-size: 14px;
        color: $light-blue;
        font-family: 'Josefin Sans';
        padding-left: 27px;

        
    }

    .error-msg {
        color: #e34d36;
    }

    #upper-form {
        gap: 20px;
        margin-bottom: 16px;
    }

    >div {
        display: flex;
        justify-content: space-between;

        >div {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
    }

    #your-msg {
        display: flex;
        flex-direction: column; 
        width: 100%;

        textarea {
            min-height: 150px;
            margin-bottom: 16px;
        }
    }

    #agreement {
        margin-bottom: 16px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;

        >span {
            font-family: 'Josefin Sans';
            font-weight: 400;
            font-size: 14px;

            a {
                color: $light-blue;
            }
        }
    }
}

.error-border {
    border: solid 1px #e34d36;
}

#btn {
    display: flex;
    width: 100%;
    justify-content: end;
}