<section class="content-limit">
    <div id="content-wrapper" class="content-limit">
        <h4>{{ 'mate-refs.h4' | translate }}</h4>
        <div id="mobile-heading">
            <h3>Need a teamplayer?</h3>
            <span>Here's what my colleagues said about me</span>
        </div>
        <div id="credential-content">
            @for (item of credentialData.credentialList; track $index) {
            <app-credential [credential]="item"></app-credential>
            }   
        </div>
    </div>
</section>