<section>
    <h4>Need a teamplayer? Here is what my colleagues said about me</h4>
    <div>
        <div>
            <b>Sahra Mueller</b>
            <span>Project DA Bubble</span>
            <p>"Claudia had to develop, format and deliver content in collaboration with the team members. She is a reliable and friendly person."</p>
            <a href="">LinkedIn Profile</a>
        </div>
        <div>
            <b>Sahra Mueller</b>
            <span>Project DA Bubble</span>
            <p>"Claudia had to develop, format and deliver content in collaboration with the team members. She is a reliable and friendly person."</p>
            <a href="">LinkedIn Profile</a>
        </div>
        <div>
            <b>Sahra Mueller</b>
            <span>Project DA Bubble</span>
            <p>"Claudia had to develop, format and deliver content in collaboration with the team members. She is a reliable and friendly person."</p>
            <a href="">LinkedIn Profile</a>
        </div>
    </div>
</section>