<app-header></app-header>
<app-mobile-header></app-mobile-header>

<section>
    <div id="content-wrapper" class="content-limit">
        <h2>{{ "privacy-policy.h2" | translate }}</h2>

        <div class="flex-gap">
            <p>{{ "privacy-policy.p_1" | translate }}</p>
            <p>
                {{ "privacy-policy.p_2_1" | translate }}
                <a
                    href="http://dejure.org/gesetze/DSGVO/4.html"
                    target="_blank"
                    title="Art. 4 DSGVO: Begriffsbestimmungen"
                    >
                    {{ "privacy-policy.p_2_a" | translate }}
                </a>
                {{ "privacy-policy.p_2_2" | translate }}
            </p>
            <p>{{ "privacy-policy.p_3" | translate }}</p>
            <p>{{ "privacy-policy.p_4" | translate }}</p>
            <p>
                I. {{ "privacy-policy.p_5_1" | translate }}<br />
                II. {{ "privacy-policy.p_5_2" | translate }}<br />
                III. {{ "privacy-policy.p_5_3" | translate }}
            </p>
        </div>

        <h3>I. {{ "privacy-policy.h3_1" | translate }}</h3>

        <div class="flex-gap">
            <p>{{ "privacy-policy.p_6" | translate }}</p>
            <p>
                Kilian, Heyne<br />
                Bamberger Straße, 10<br />
                10779,
                Berlin
            </p>
            <p>
                {{ "privacy-policy.p_8_1" | translate }} +49 171/3583223<br />
                <br />
                {{ "privacy-policy.p_8_2" | translate }} kilianheyne(at)icloud(dot)com
            </p>
        </div>

        <h3>II. {{ "privacy-policy.h3_2" | translate }}</h3>

        <p>{{ "privacy-policy.p_9" | translate }}</p>

        <ul>
            <li>
                {{ "privacy-policy.li_1" | translate }}
                <a
                    href="http://dejure.org/gesetze/DSGVO/15.html"
                    target="_blank"
                    title="Art. 15 DSGVO: Auskunftsrecht der betroffenen Person"
                    >Art. 15 {{ 'privacy-policy.DSGVO' | translate }}</a
                >);
            </li>

            <li>
                {{ "privacy-policy.li_2" | translate }}
                <a
                    href="http://dejure.org/gesetze/DSGVO/16.html"
                    target="_blank"
                    title="Art. 16 DSGVO: Recht auf Berichtigung"
                    >Art. 16 {{ 'privacy-policy.DSGVO' | translate }}</a
                >);
            </li>

            <li>
                {{ "privacy-policy.li_3_1" | translate }}
                <a
                    href="http://dejure.org/gesetze/DSGVO/17.html"
                    target="_blank"
                    title='Art. 17 DSGVO: Recht auf Löschung ("Recht auf Vergessenwerden")'
                    >Art. 17 {{ 'privacy-policy.DSGVO' | translate }}</a
                >), {{ "privacy-policy.li_3_2" | translate }}
                <a
                    href="http://dejure.org/gesetze/DSGVO/17.html"
                    target="_blank"
                    title='Art. 17 DSGVO: Recht auf Löschung ("Recht auf Vergessenwerden")'
                    >Art. 17 Abs. 3 {{ 'privacy-policy.DSGVO' | translate }}</a
                >
                {{ "privacy-policy.li_3_3" | translate }}
                <a
                    href="http://dejure.org/gesetze/DSGVO/18.html"
                    target="_blank"
                    title="Art. 18 DSGVO: Recht auf Einschränkung der Verarbeitung"
                    >Art. 18 {{ 'privacy-policy.DSGVO' | translate }}</a
                >;
            </li>

            <li>
                {{ "privacy-policy.li_4" | translate }}
                <a
                    href="http://dejure.org/gesetze/DSGVO/20.html"
                    target="_blank"
                    title="Art. 20 DSGVO: Recht auf Datenübertragbarkeit"
                    >Art. 20 {{ 'privacy-policy.DSGVO' | translate }}</a
                >);
            </li>

            <li>
                {{ "privacy-policy.li_5" | translate }}
                <a
                    href="http://dejure.org/gesetze/DSGVO/77.html"
                    target="_blank"
                    title="Art. 77 DSGVO: Recht auf Beschwerde bei einer Aufsichtsbehörde"
                    >Art. 77 {{ 'privacy-policy.DSGVO' | translate }}</a
                >).
            </li>
        </ul>

        <div class="flex-gap">
            <p>
                {{ "privacy-policy.p_10" | translate }}
                <a
                    href="http://dejure.org/gesetze/DSGVO/16.html"
                    target="_blank"
                    title="Art. 16 DSGVO: Recht auf Berichtigung"
                    >Art. 16</a
                >,
                <a
                    href="http://dejure.org/gesetze/DSGVO/17.html"
                    target="_blank"
                    title='Art. 17 DSGVO: Recht auf Löschung ("Recht auf Vergessenwerden")'
                    >17 {{ "privacy-policy.p_10_a_2" | translate }} 1</a
                >,
                <a
                    href="http://dejure.org/gesetze/DSGVO/18.html"
                    target="_blank"
                    title="Art. 18 DSGVO: Recht auf Einschränkung der Verarbeitung"
                    >18 {{ 'privacy-policy.DSGVO' | translate }}</a
                >
                {{ "privacy-policy.p_10_2" | translate }}
            </p>
            <p>
                <strong
                    >{{ "privacy-policy.p_11_1" | translate }}
                    <a
                        href="http://dejure.org/gesetze/DSGVO/21.html"
                        target="_blank"
                        title="Art. 21 DSGVO: Widerspruchsrecht"
                        >Art. 21 {{ 'privacy-policy.DSGVO' | translate }}</a
                    >
                    {{ "privacy-policy.p_11_2" | translate }}
                    <a
                        href="http://dejure.org/gesetze/DSGVO/6.html"
                        target="_blank"
                        title="Art. 6 DSGVO: Rechtmäßigkeit der Verarbeitung"
                        >Art. 6 {{ "privacy-policy.p_10_a_2" | translate }} 1 lit. f) {{ 'privacy-policy.DSGVO' | translate }}</a
                    >
                    {{ "privacy-policy.p_11_3" | translate }}</strong
                >
            </p>

        </div>

        <h3>III. {{ "privacy-policy.h3_3" | translate }}</h3>

        <div class="flex-gap">
            <p>{{ "privacy-policy.p_12" | translate }}</p>

            <p>
                <a
                    href="https://www.generator-datenschutzerklärung.de"
                    target="_blank"
                    rel="noopener"
                    >{{ "privacy-policy.p_13_a_1" | translate }}</a
                >
                {{ "privacy-policy.p_13" | translate }}
                <a
                    href="https://www.bewertung-löschen24.de"
                    rel="nofollow noopener"
                    target="_blank"
                    >{{ "privacy-policy.p_13_a_2" | translate }}</a
                >
            </p>
        </div>
    </div>
</section>

<app-footer></app-footer>
