@import '../../styles.scss';

section {
    list-style: inside;
    list-style-type: circle;
    margin-bottom: 56px;
}

#content-wrapper {
    padding: 0 265px;
    font-family: 'Josefin Sans';


    @include tablet {
        padding: 0 44px;
    }

    @include mobile {
        padding: 0 22px;
    }
}

h2, h3 {
    margin: 26px;
    margin-top: 104px;
    font-family: 'Anta';
    color: $light-blue;
}

h3 {
    font-size: 32px;
}

.flex-gap {
    display: flex; 
    flex-direction: column;
    gap: 32px;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    gap: 32px;
}