@import '../../../styles.scss';

header {
    align-items: center;
    padding: 0 80px 0 80px;
    height: 104px;
    position: sticky;
    top: 0;
    z-index: 10;
}

#content-wrapper {
    background: #89bbd9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > img {
        object-fit: contain;
    }

    > p {
        color: $creme-white;
        font-size: 14px;
        font-family: 'Anta';
    }

    > span {
        color: $dark-grey;
        font-size: 14px;
        font-weight: 300;
        font-family: 'Josefin Sans';
    }
}

#nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        color: $dark-grey;
        font-family: 'Josefin Sans';
        font-weight: 500;
        font-size: 26px;

        &:hover {
            color: $creme-white;
            cursor: pointer;
        }
    }
}

#lingo-switch {
    display: flex;
    gap: 22px;
    font-family: 'Josefin Sans';
    font-size: 18px;

    >span {
        color: $dark-grey;

        &:hover {
            color: $creme-white;
            cursor: pointer;
        }

        &:active {
            background: url('../../../../public/assets/images/header/active-language.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}