<app-header></app-header>
<app-mobile-header></app-mobile-header>

<section>
    <div class="content-limit" id="content-wrapper">
        <h2>{{ 'legal-notice.h2' | translate}}</h2>
        <span>{{ 'legal-notice.span' | translate}}</span>
        <div>
            <span>Kilian Heyne</span>
            <span>Bamberger Straße 30</span>
            <span>10779 Berlin, {{ 'legal-notice.land' | translate}}</span>
        </div>
        <div>
            <span>{{ 'legal-notice.contact' | translate}}</span>
            <span>{{ 'legal-notice.telefon' | translate}}: +49 171/3583223</span>
            <span>{{ 'legal-notice.email' | translate}}: kilianheyne(at)icloud(dot)com</span>
        </div>
    </div>
</section>

<app-footer></app-footer>
