<section>
    <div id="content-wrapper" class="content-limit">
        <h3>{{ 'my-skills.h3' | translate }}</h3>
        <div id="my-skills">
            <div id="skill-overview">
                @for (item of skillListData.skillList; track $index) {
                <div>
                    <img src="{{ item.image }}" alt="{{ item.name }}-icon" />
                    <span>{{ item.name }}</span>
                </div>
                }
            </div>
            <div id="learning">
                <span>{{ 'my-skills.learning_span' | translate }}</span>
                <div id="current-learnings">
                    <div class="flexCo">
                        <img
                            src="assets/images/my-skills/currently-learning/react.png"
                            alt="React JS"
                        />
                        <span>React</span>
                    </div>
                    <div class="flexCo">
                        <img
                            src="assets/images/my-skills/currently-learning/vue-js.png"
                            alt="Vue JS"
                        />
                        <span>Vue Js</span>
                    </div>
                </div>
                <p>{{ 'my-skills.learning_p' | translate }}</p>
            </div>
        </div>
    </div>
</section>
