@import '../../styles.scss';

section {
    color: white;
    padding: 0 160px 0 160px;
}

h3 {
    
}

#skill-overview{
    @include dFlex();
    flex-flow: wrap;
    width: 50%;

    >div {
        @include dFlex($fd: column);
    }
}