<section class="content-limit">
    <h3>My skills</h3>
    <div class="flex-center">
        <div id="skill-overview">
            @for (item of skillListData.skillList; track $index) {
                <div class="flex-center">
                    <img src="{{item.image}}" alt="">
                    <span>{{item.name}}</span>
                </div>
            }
        </div>
        <div>
            <span>I am currently learning</span>
            <div>
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <p>Show that you are motivated to contually improve your skills, implement innovative solutions and stay abreast of new technologies.</p>
        </div>
    </div>
</section>
