.bullet-point-heading {
    >div {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        >p {
            font-family: 'Josefin Sans';
            font-size: 28px;
        }
        >span {
            font-family: 'Josefin Sans';
            font-size: 18px;
        }
    }
    >p {
        font-family: 'Josefin Sans';
        font-size: 18px;
    }
}