
* {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.content-limit {
    width: 100%;
    max-width: 1920px;
}

.hide {
    display: none;
}

body {
    background: #262d33;
}