// #region colorpalette

$dark-blue: #23282e;
$light-blue: #88b3d1;

$chalk: #faf6ed;
$grey: #bec0c2;

$red: #e34b34;
$green: #95e063;

// #endregion

* {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    color: $chalk;
}

// #region mixins
@mixin dFlex($jc: center, $ai: center, $fd: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

// #endregion

// #region headings
h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 32px;
}

h3 {
    margin: 56px;
    font-size: 32px;
}

// #endregion

.img-contain {
    object-fit: contain;
}

.content-limit {
    width: 100%;
    max-width: 1920px;
}

.hide {
    display: none;
}

.absolute {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: -10;
}

.logo-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > img {
        object-fit: contain;
    }

    > p {
        color: white;
    }

    > span {
        color: #262d33;
    }
}

body {
    background: $dark-blue;
}
