// #region colorpalette

$dark-blue: #23282e;
$light-blue: #89BCD9;

$creme-white: #F8F5EC;
$grey: #bec0c2;
$dark-grey: #262E34;

$red: #e34b34;
$green: #95e063;

// #endregion

// #region fonts
/* anta-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Anta';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/anta-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 100;
    src: url('/assets/fonts/josefin-sans-v33-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* josefin-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/josefin-sans-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* josefin-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/josefin-sans-v33-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// #endregion
* {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    color: $creme-white;
}

// #region mixins
@mixin dFlex($jc: center, $ai: center, $fd: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

// #endregion

// #region headings
h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Anta';
}

h1 {
    font-size: 88px;
    margin-bottom: 16px;
}

h2 {
    font-size: 40px;
    font-family: 'Josefin Sans';
    font-weight: 400;
}

h3 {
    margin: 56px;
    font-size: 60px;
}

h4 {
    margin: 56px;
    font-size: 24px;
}

// #endregion

.img-contain {
    object-fit: contain;
}

.content-limit {
    width: 100%;
    max-width: 1920px;
}

.hide {
    display: none;
}

.absolute {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: -10;
}

body {
    background: $dark-blue;
}
