<footer class="content-limit">
    <div id="legal-notice">
        <span>Legal notice</span>
        <span>© Kilian Heyne 2025</span>
    </div>
    <div id="logo">
        <img src="assets/images/footer/logo-icon.png" alt="logo">
        <span>K.Heyne</span>
        <span>developer</span>
    </div>
    <div id="some-icons">
        <a href=""><img src="assets/images/footer/github-icon.png" alt="github-icon"></a>
        <a href=""><img src="assets/images/footer/e-mail-icon.png" alt="e-mail-icon"></a>
        <a href=""><img src="assets/images/footer/linkedin-icon.png" alt="linkedin-icon"></a>
    </div>
</footer>