@import '../../../styles.scss';

footer {
    height: 214px;
    background: $light-blue;

    @include tablet {
        height: 243px;
    }

    >div {
        height: 100%;
    }
}

#content-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

#footer-content {
    width: 100%;
    height: 72px;
    padding: 0 112px 0 112px;
    @include dFlex($jc: space-between);

    @include tablet {
        flex-direction: column; 
        height: 100%;
        padding: 30px 63px;
    }

    @media (max-width: 410px){
        padding: 20px 24px;
    }

    @media (max-width: 340px){
        padding: 20px 24px;
    }

}

#legal-notice {
    @include dFlex($jc: end, $ai: start, $fd: column);
    opacity: 80%;
    gap: 16px;
    height: 100%;

    @include tablet {
        display: none;
    }

    >span, a {
        color: $dark-grey;
        font-family: 'Josefin Sans';
        font-size: 18px;
        cursor: default;
    }
    >a{
        &:hover {
            color: $creme-white;
            cursor: pointer;
        }
    }
}

#logo {
    @include dFlex($fd: column, $jc: end);

    > p {
        color: $creme-white;
        font-size: 14px;
        font-family: 'Anta';
    }

    > span {
        color: $dark-grey;
        font-size: 14px;
        font-weight: 300;
        font-family: 'Josefin Sans';
    }
}

#some-icons {
    @include dFlex($ai: flex-end);
    height: 100%;
    gap: 16px;
}

#mobile-legal-notice {
    @include dFlex($jc: space-between, $ai: center);
    display: none;
    opacity: 80%;
    width: 100%;
    height: 100%;

    @include tablet {
        display: flex;
    }

    @media (max-width: 340px){
        flex-direction: column;
        justify-content: center;
    }

    >span, a {
        color: $dark-grey;
        font-family: 'Josefin Sans';
        font-size: 18px;
    }
    >a{
        &:hover {
            color: $creme-white;
        }
    }
}