<footer>
    <div id="footer-content" class="content-limit">
        <div id="legal-notice">
            <span>Legal notice</span>
            <span>© Kilian Heyne 2025</span>
        </div>
        <div id="logo">
            <img src="assets/images/footer/logo-icon.png" alt="logo" />
            <p>K.Heyne</p>
            <span>developer</span>
        </div>
        <div id="some-icons">
            <a href="">
                <img
                    [src]="githubIcon"
                    alt="github-icon"
                    (mouseenter)="changeIcon('github', true)"
                    (mouseleave)="changeIcon('github', false)"
                />
            </a>
            <a href="">
                <img
                    [src]="eMailIcon"
                    alt="e-mail-icon"
                    (mouseenter)="changeIcon('e-mail', true)"
                    (mouseleave)="changeIcon('e-mail', false)"
                />
            </a>
            <a href="">
                <img
                    [src]="linkedinIcon"
                    alt="linkedin-icon"
                    (mouseenter)="changeIcon('linkedin', true)"
                    (mouseleave)="changeIcon('linkedin', false)"
                />
            </a>
        </div>
    </div>
</footer>